## Merge the dictionaries to get the code

Code to create dictionary: Q12334 -> "Artist"

In [1]:
import json

In [2]:
# used to read gender and occupations dictionaries
def read_dictionary(path):
    with open(path) as json_file:
        line = json_file.readline()
        dictionary = json.loads(line)
    return dictionary
    
# read occupations dictionary
def read_dict_occupations(path):
    dict_occupations = {}
    with open(path) as json_file:
        content = json_file.readlines()
        for line in content:
            occ = json.loads(line)
            dict_occupations.update(occ)
    return dict_occupations

In [3]:
## Merge the 2 dictionaries to create one for code of occupation -> 
LOCAL_PATH = "./data/"
QCODE_OCCUPATIONS_DICT = LOCAL_PATH + "dict_occupations.json"
OCCUPATIONS_FIELD_DICT = LOCAL_PATH + "dict_categories_occupations.json"


occupation_to_field = read_dictionary(OCCUPATIONS_FIELD_DICT)       # singer -> Artist
code_to_occupation = read_dict_occupations(QCODE_OCCUPATIONS_DICT)  # Q123 -> singer

In [4]:
# create dictionary with code to field: Q123 -> Artist
code_to_field = {}
missing_occupations = []
for code in code_to_occupation:
    occupation = code_to_occupation[code]
    
    if occupation in occupation_to_field.keys():
        code_to_field[code] = occupation_to_field[occupation]
    else:
        missing_occupations.append(occupation)

In [5]:
len(missing_occupations)

615

In [6]:
with open("missing_occupations.txt", "w") as output:
    output.write(str(missing_occupations))

In [7]:
# save dictionary in json format
with open('./data/dict_wikicode_to_field.json', 'w') as fp:
    json.dump(code_to_field, fp)

## create dictionary: 

wikicode -> musician

In [8]:
OCCUPATIONS_MUSICIANS_DICT = LOCAL_PATH + "dict_occupation_musician.json"

occupation_to_music = read_dictionary(OCCUPATIONS_MUSICIANS_DICT)       # singer -> musician
code_to_occupation = read_dict_occupations(QCODE_OCCUPATIONS_DICT)  # Q123 -> singer

# create dictionary with code to field: Q123 -> musician
code_to_music = {}
for code in code_to_occupation:
    occupation = code_to_occupation[code]
    
    if occupation in occupation_to_music.keys():
        code_to_music[code] = occupation_to_music[occupation]

# save dictionary in json format
with open('./data/dict_wikicode_to_musician.json', 'w') as fp:
    json.dump(code_to_music, fp)

## create json with occupation to artistic category

- singer -> musician
- sience fiction writer -> literature

In [9]:
OCCUPATIONS_FIELD_DICT = LOCAL_PATH + "dict_categories_occupations.json"


occupation_to_field = read_dictionary(OCCUPATIONS_FIELD_DICT)       # singer -> Artist

In [10]:
artists_dict = {k:v for (k,v) in occupation_to_field.items() if v == "Artist"}

# save dictionary in json format
with open('./data/dict_occupation_to_artist.json', 'w') as fp:
    json.dump(artists_dict, fp)

In [17]:
for occupation in artists_dict.keys():
    if occupation in occupation_to_music.keys():
        artists_dict[occupation] = "music"

In [14]:
# save dictionary in json format
with open('./data/dict_occupation_to_artist_MIDDLE.json', 'w') as fp:
    json.dump(artists_dict, fp)

## from wikicode -> artistic category

1. Literature
2. Visual (Painting/drawing)
3. Sculpture (anything in 3 dimensions, including architecture, statuary, interior design, or automotive styling to an extent),
4. Performance (acting, dance, gymnastics, or anything involving movement of physical forms, like automated mechanisms).
5. “Music” (Anything using audio, which could be extended to storytelling or public speaking, though this bleeds over into performance).

In [24]:
ART_OCCUPATIONS_DICT = LOCAL_PATH + "dict_art_occupations.json"


art_occupation = read_dictionary(ART_OCCUPATIONS_DICT)       # singer -> music
art_occupation

{'actor': 'performance',
 'writer': 'literature',
 'singer': 'music',
 'film actor': 'performance',
 'composer': 'music',
 'painter': 'visual',
 'television actor': 'performance',
 'poet': 'literature',
 'screenwriter': 'literature',
 'film director': 'performance',
 'musician': 'music',
 'stage actor': 'performance',
 'novelist': 'literature',
 'songwriter': 'music',
 'film producer': 'performance',
 'architect': 'sculpture',
 'artist': 'visual',
 'author': 'literature',
 'singer-songwriter': 'music',
 'photographer': 'visual',
 'record producer': 'music',
 'pianist': 'music',
 'sculptor': 'sculpture',
 'jazz musician': 'music',
 'guitarist': 'music',
 'conductor': 'music',
 'television presenter': 'performance',
 'playwright': 'literature',
 'voice actor': 'performance',
 "children's writer": 'literature',
 'opera singer': 'music',
 'radio personality': 'performance',
 'illustrator': 'visual',
 'comedian': 'performance',
 'clarinetist': 'music',
 'director': 'performance',
 'interior designer': 'sculpture',
 'pornographic actor': 'performance',
 'graphic artist': 'visual',
 'kabuki actor': 'performance',
 'violist': 'music',
 'installation artist': 'sculpture',
 'character actor': 'performance',
 'comics artist': 'visual',
 'drummer': 'music',
 'industrial designer': 'sculpture',
 'hornist': 'music',
 'bassist': 'music',
 'designer': 'visual',
 'vocalist': 'music',
 'dub actor': 'performance',
 'violinist': 'music',
 'performer': 'performance',
 'poster artist': 'visual',
 'trombonist': 'music',
 'saxophonist': 'music',
 'banjoist': 'music',
 'ballet master': 'performance',
 'war photographer': 'visual',
 'cinematographer': 'performance',
 'keyboardist': 'music',
 'oboist': 'music',
 'trumpeter': 'music',
 'classical guitarist': 'music',
 'flautist': 'music',
 'performance artist': 'performance',
 'comics writer': 'literature',
 'documentary filmmaker': 'performance',
 'filmmaker': 'performance',
 'choreographer': 'performance',
 'harpsichordist': 'music',
 'contemporary artist': 'visual',
 'watercolourist': 'visual',
 'colorist': 'visual',
 'dancer': 'performance',
 'haiku poet': 'literature',
 'animator': 'visual',
 'fashion designer': 'visual',
 'make-up artist': 'visual',
 'jazz guitarist': 'music',
 'ballet dancer': 'performance',
 'video artist': 'performance',
 'percussionist': 'music',
 'cartoonist': 'visual',
 'comedy writer': 'literature',
 'troubadour': 'music',
 'drawer': 'visual',
 'street artist': 'visual',
 'glass artist': 'sculpture',
 'non-fiction writer': 'literature',
 'music director': 'music',
 'visual artist': 'visual',
 'graphic designer': 'visual',
 'stained-glass artist': 'sculpture',
 'organist': 'music',
 'science fiction writer': 'literature',
 'film score composer': 'music',
 'harpist': 'music',
 'accordionist': 'music',
 'lyricist': 'literature'}

In [21]:
# create dictionary with code to art category: Q123 -> music
code_to_art = {}

for code in code_to_occupation:
    occupation = code_to_occupation[code]
    
    if occupation in art_occupation.keys():
        code_to_art[code] = art_occupation[occupation]
        
code_to_art

{'Q118865': 'music',
 'Q28389': 'literature',
 'Q3455803': 'performance',
 'Q2133309': 'sculpture',
 'Q488111': 'performance',
 'Q753110': 'music',
 'Q1925963': 'visual',
 'Q48146261': 'performance',
 'Q899758': 'music',
 'Q18074503': 'sculpture',
 'Q1281618': 'sculpture',
 'Q33231': 'visual',
 'Q948329': 'performance',
 'Q482980': 'literature',
 'Q3282637': 'performance',
 'Q486748': 'music',
 'Q715301': 'visual',
 'Q386854': 'music',
 'Q15977509': 'sculpture',
 'Q644687': 'visual',
 'Q19729565': 'music',
 'Q2526255': 'performance',
 'Q584301': 'music',
 'Q15981151': 'music',
 'Q36180': 'literature',
 'Q5322166': 'visual',
 'Q2643890': 'music',
 'Q11481802': 'performance',
 'Q1259917': 'music',
 'Q183945': 'music',
 'Q16010345': 'performance',
 'Q739437': 'visual',
 'Q544972': 'music',
 'Q12800682': 'music',
 'Q855091': 'music',
 'Q9648008': 'music',
 'Q2259451': 'performance',
 'Q483501': 'visual',
 'Q805253': 'performance',
 'Q11496048': 'visual',
 'Q222344': 'performance',
 'Q177220': 'music',
 'Q49757': 'literature',
 'Q1075651': 'music',
 'Q16003954': 'music',
 'Q12377274': 'music',
 'Q947873': 'performance',
 'Q4853732': 'literature',
 'Q10798782': 'performance',
 'Q1162163': 'performance',
 'Q24067349': 'music',
 'Q12902372': 'music',
 'Q42973': 'sculpture',
 'Q10774753': 'performance',
 'Q20870256': 'literature',
 'Q1235146': 'performance',
 'Q1414443': 'performance',
 'Q158852': 'music',
 'Q2722764': 'performance',
 'Q2490358': 'performance',
 'Q639669': 'music',
 'Q5371902': 'music',
 'Q10800557': 'performance',
 'Q822146': 'literature',
 'Q1028181': 'visual',
 'Q21477194': 'visual',
 'Q17505902': 'visual',
 'Q5716684': 'performance',
 'Q11386386': 'literature',
 'Q245068': 'performance',
 'Q36834': 'music',
 'Q266569': 'visual',
 'Q3501317': 'visual',
 'Q935666': 'visual',
 'Q214917': 'literature',
 'Q2405480': 'performance',
 'Q6168364': 'music',
 'Q805221': 'performance',
 'Q18216771': 'performance',
 'Q4351403': 'music',
 'Q1114448': 'visual',
 'Q488205': 'music',
 'Q11914886': 'literature',
 'Q186370': 'music',
 'Q2865819': 'music',
 'Q15296811': 'visual',
 'Q7622988': 'visual',
 'Q2865798': 'sculpture',
 'Q15980158': 'literature',
 'Q1198887': 'music',
 'Q3391743': 'visual',
 'Q627325': 'visual',
 'Q6625963': 'literature',
 'Q2205972': 'sculpture',
 'Q765778': 'music',
 'Q18844224': 'literature',
 'Q1415090': 'music',
 'Q33999': 'performance',
 'Q3127709': 'music',
 'Q1863064': 'music'}

In [23]:
# save dictionary in json format
with open('./data/dict_wikicode_to_artist.json', 'w') as fp:
    json.dump(code_to_art, fp)

## create artistic occupation CSV

- wikicode
- occupation
- artistic field (literature, visual, ...)

In [26]:
import pandas as pd

In [27]:
# create csv with wikicode, occupation, artistic field (Q123, 'singer', 'music')
df_artists = pd.DataFrame(columns=['wikicode','occupation','art_field'])

# for code in code_to_occupation:
#     occupation = code_to_occupation[code]
    
#     if occupation in art_occupation.keys():
#         code_to_art[code] = art_occupation[occupation]
        
# code_to_art

df_artists.wikicode = code_to_art.keys()

In [29]:
df_artists.art_field = code_to_art.values()

In [30]:
df_artists

     wikicode occupation    art_field
0     Q118865        NaN        music
1      Q28389        NaN   literature
2    Q3455803        NaN  performance
3    Q2133309        NaN    sculpture
4     Q488111        NaN  performance
..        ...        ...          ...
95  Q18844224        NaN   literature
96   Q1415090        NaN        music
97     Q33999        NaN  performance
98   Q3127709        NaN        music
99   Q1863064        NaN        music

[100 rows x 3 columns]

In [33]:
# sanity check that everything is correct
for index, row in df_artists.iterrows():
    code = row['wikicode']
    art_field = row['art_field']
    if code_to_art[code] != art_field:
        print(oops)

In [34]:
# add the occupation
for index, row in df_artists.iterrows():
    code = row['wikicode']
    row['occupation'] = code_to_occupation[code]

df_artists

     wikicode              occupation    art_field
0     Q118865             clarinetist        music
1      Q28389            screenwriter   literature
2    Q3455803                director  performance
3    Q2133309       interior designer    sculpture
4     Q488111      pornographic actor  performance
..        ...                     ...          ...
95  Q18844224  science fiction writer   literature
96   Q1415090     film score composer        music
97     Q33999                   actor  performance
98   Q3127709                 harpist        music
99   Q1863064            accordionist        music

[100 rows x 3 columns]

In [36]:
df_artists.to_csv('./data/art_occupations.csv', sep='\t')